body{
    background-color: rgb(205, 245, 245);
}
.container {
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 120px;
    left: 29%;
    border: rgb(52, 51, 51) solid  ;
    border-radius: 8px;
    margin: 60px;
    padding: 70px; 
    background-color: white;
  }
  
  .input-container {
    margin-top: 20px;
    padding: 20px;
    margin: 20px;
  }

  .result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
h1{
    border: solid 2px;
    border-radius:8px ;
    margin: 20px;
    padding: 20px;
    background-color: rgb(195, 255, 255);
}
h1:hover{
    background-color: white;
}
button{
    border-radius: 8px;
}
input{
  background-color: white;
}
select{
    background-color: white;
}